# Ignore doc directory
doc/**/*
# Ignore debug directory
debug/*
# Ignore release directory
release/**/*
# Ignore project executable
GenomAMf
# IGnore object files
*.o
*.*~
# Ignore moc files
#moc_*.*
ui_*
app
*.png
Makefile*
